@use 'variables' as *;

.sectionShoppingCart {
  display: flex;
  flex-direction: column;
  .aside-top {
    display: flex;
    justify-content: center;
    font-size: 30px;
    margin: 0px;
    background: $background-static;
    color: $font-color-white;
  }
  .aside-stone {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 0px;
  }
  .praceSTT {
    display: flex;
    justify-content: space-around;
    margin-top: -20px;
  }
  .aside-prise-stone,
  #priceForList {
    margin-bottom: 30px;
    font-size: 12px;
    margin-right: 5px;
    color: rgb(161, 159, 159);
  }

  .aside-color-stone {
    margin-top: 0px;
    font-size: 20px;
    .colomnStone {
      display: flex;
      flex-direction: column;
    }
  }
  .cost {
    display: flex;
    justify-content: space-between;

    height: 50px;
    margin-top: 0px;
    margin-bottom: 20px;
    .cost-info {
      display: flex;
      justify-content: space-between;
      #costOfTheOrder {
        font-size: 25px;
      }
      p {
        margin: 10px;
      }
    }
  }
}
