@use 'variables' as *;

.sectionShoppingCart {
  display: flex;
  flex-direction: column;
  .aside-top {
    display: flex;
    justify-content: center;
    font-size: 30px;
    margin: 0px;
    background: $background-static;
    color: $font-color-white;
  }
  .aside-stone {
    display: flex;
    justify-content: space-between;
    margin-top: -10px;
    margin-bottom: -20px;
    .aside-price {
      margin-top: -30px;
    }
  }
  .aside-prise-stone {
    margin-bottom: 30px;
  }

  .aside-color-stone {
    font-size: 20px;
  }
  .cost {
    display: flex;
    justify-content: space-between;

    height: 50px;
    margin-top: 20px;
    margin-bottom: 20px;
    .cost-info {
      display: flex;
      justify-content: space-between;
      #costOfTheOrder {
        font-size: 30px;
      }
      p {
        margin: 10px;
      }
    }
  }
}
