@use 'variables' as *;

.grid-2 {
  display: grid;
  gap: 10px;
  height: auto;
  min-height: 100vh;
  margin: 0 auto;
  width: $global-width;
  padding-bottom: 180px;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 50px repeat(auto-fit, 1fr) auto;
  overflow-y: scroll !important;
  position: relative;
  padding-top: 80px;
  margin-bottom: 70px;

  grid-template-areas:
    'header header'
    'div1 div2'
    'div3 div4'
    'div5 div6'
    'div7 div8'
    'div9 div10'
    'div11 div12'
    'div13 div14'
    'div15 div16'
    'div17 div18'
    'div19 div20'
    'div21 div22'
    'button button';
}
.grid-header {
  grid-area: header;
  font-size: 60px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #717790;
  color: #fff;
  z-index: 10;
  position: fixed;
  width: $global-width;
  top: 15px;
  left: 50%;
  transform: translateX(-50%);
  margin-bottom: 10px;
  padding: 10px 0;
  border-radius: 5px;
}
.grid-element {
  display: flex;
  flex-direction: column-reverse;
  width: 100%;
  height: 100%;
  min-height: 200px;
  padding: 10px;
  margin-bottom: 10px;
  cursor: pointer;
  border: none;
  transition: border 0.3s, filter 0.3s;
  border-radius: 25px;
}

.selected {
  border: 4px solid rgb(239, 139, 139); /* Стили для выбранной кнопки */
}

.button-image {
  width: 100%; /* Занимает всю ширину контейнера */
  height: auto; /* Высота автоматически подстраивается */
  object-fit: cover;
  /* Изображение масштабируется, сохраняя пропорции, обрезая края при необходимости */
}

.confirmColorButton {
  margin-bottom: 90px;
  grid-area: button;
  font-size: $font-size;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  color: $minitext-color;
  height: 90px;
  border: none;
  animation: pulse 1.5s infinite;
  width: 400px;
  border-radius: 25px;
  background-color: rgba(255, 255, 255, 0.9);
  cursor: pointer;
  position: fixed;
  bottom: 120px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;

  &:hover {
    animation: none;
    border: 1px solid rgb(236, 161, 11);
    background-color: rgba(7, 77, 33, 0.5);
  }
}
@keyframes pulse {
  0%,
  100% {
    background-color: rgba(105, 243, 137, 0.6);

    border: 3px solid rgba(105, 243, 137, 0.6); /* Исходный размер кнопки */
  }
  50% {
    border: 3px solid rgba(105, 243, 137, 0.9); /* Увеличение размера кнопки */
  }
}
.symmPrice {
  font-size: 30px;
}
.namePrice {
  font-size: 20px;
}
.button-description {
  font-size: 25px;
}
