@use 'variables' as *;

#aside {
  width: 90vw;
}
.aside-windowSills {
  div {
    margin-top: 0px;
  }
}
.sectionShoppingCart {
  display: flex;
  flex-direction: column;
  .aside-top {
    display: flex;
    justify-content: center;
    font-size: 30px;
    margin: 0px;
    background: $background-static;
    color: $font-color-white;
  }
  .aside-stone {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 0px;
  }
  .praceSTT {
    display: flex;
    justify-content: space-around;
    margin-top: -20px;
  }
  .aside-prise-stone,
  #priceForList {
    margin-bottom: 30px;
    font-size: 12px;
    margin-right: 5px;
    color: rgb(161, 159, 159);
  }

  .aside-color-stone {
    margin-top: 0px;
    font-size: 20px;
    .colomnStone {
      display: flex;
      flex-direction: column;
    }
  }
  .cost {
    display: flex;
    justify-content: space-between;
    height: 50px;
    margin-top: 0px;
    margin-bottom: 20px;
    .cost-info {
      display: flex;
      justify-content: space-between;
      #costOfTheOrder {
        font-size: 25px;
      }
      p {
        margin: 10px;
      }
    }
  }
}

.aside-bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  h3 {
    margin: -0px;
  }
  .aside-text-top {
    color: $minitext-color;
    font-size: 15px;
    margin-top: -5px;
  }
  .aside-input {
    display: flex;
    flex-direction: column;
    margin-top: 0px;
    margin-left: 15px;
    gap: 2px;
    .pole {
      width: 90%;
      height: 30px;
    }
    #messageInfo {
      height: 80px;
      width: 90%;
    }
  }
}

.asideBottom {
  display: flex;
  justify-content: space-around;
  .adress {
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 0px;
    h3 {
      margin-bottom: -10px;
    }
  }
  #openMap {
    border: none;
    cursor: pointer;
    :hover {
      border: 4px solid rgb(233, 175, 175);
      border-radius: 30px;
      filter: blur(1px);
    }
    img {
      height: 60px;
      width: 60px;
    }
  }
}

.aside-text-bottom {
  margin: 0px;
}
#request {
  font-size: 15px;
}
