@use 'variables' as *;

.button1 {
  width: 98%;
  height: 40px;
  background-color: rgb(237, 204, 142);
  border-radius: 20px;
  border: 1px solid gray;
  font-size: 20px;
  font-weight: 600;
  color: rgb(164, 161, 161);
  margin: 5px;
  &:hover {
    background-color: rgb(244, 181, 64);
  }
}

.button2 {
  width: 40%;
  height: 40px;
  background-color: rgb(237, 204, 142);
  border-radius: 20px;
  border: 1px solid gray;
  font-size: 15px;
  font-weight: 600;
  color: rgb(164, 161, 161);
  margin: 5px;
  &:hover {
    background-color: rgb(244, 181, 64);
  }
}
.button3 {
  width: 90%;
  height: 25px;
  background-color: rgb(250, 238, 216);
  border-radius: 20px;
  border: 1px solid gray;
  font-size: 15px;
  font-weight: 200;
  color: rgb(164, 161, 161);
  margin: 5px;
  &:hover {
    background-color: rgb(248, 246, 242);
  }
}
