@import url('https://fonts.googleapis.com/css2?family=Rubik+Vinyl&display=swap');

$background-color: rgb(243, 236, 236);
$font-color: rgb(246, 146, 47);
$font-size: 45px;
$button-size: 120px;
$minitext-color: rgb(71, 68, 81);
$minitext-font-size: 20px;
$input-button-height: 30px;
$input-button-width: 100px;
$button-background: rgba(246, 146, 47, 0.3);
$button-background-hover: rgb(247, 174, 110);
$background-static: rgb(71, 69, 69);
$font-color-white: white;
$button-font-size-color: rgb(43, 40, 40);
$global-width: 100vw;
$global-max-width: 1200px;
