@use 'variables' as *;

.cost {
  display: flex;
  gap: 10px;
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  gap: 10px;
  button {
    width: 100%;
    background-color: $button-background;
    font-size: $font-size;
    color: minitext-color;
    margin-top: 10px;
  }
  .cost-info {
    display: flex;
    justify-content: space-around;
    width: 100%;
  }
}

.decision {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  gap: 10px;
  button {
    background-color: $button-background;
    font-size: $font-size;
    color: $minitext-color;
    margin-top: 10px;
    width: 100%;
  }
}
footer {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .footer-input {
    display: flex;
    flex-direction: column;
    width: 100%;
    .footer-input-button {
      height: 40px;
    }
    .footer-button {
      background-color: $button-background;
      font-size: $font-size;
      color: $minitext-color;
      margin-top: 10px;
      width: 100%;
    }
  }
}
