@use 'variables' as *;
@use 'header';
@use 'calculator';
@use 'aside';
@use 'section';

* {
  box-sizing: border-box;
}
html {
  margin: 15px;
  background-color: $background-color;
}
.body {
  margin: 0 auto; /* Центрирование контейнера */
  max-width: 100%; /* Ограничить ширину контейнера */
}
// .hidden {
//   display: none;
// }
