@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Rubik+Vinyl&display=swap");
.headerTop h2 {
  display: flex;
  justify-content: center;
  color: rgb(246, 146, 47);
  font-size: 30px;
  font-weight: 400;
  margin-bottom: -20px;
}
.headerTop h3 {
  display: flex;
  justify-content: center;
  color: rgb(246, 146, 47);
  font-size: 20px;
  font-weight: 100;
}

.headerBottom {
  display: flex;
  justify-content: space-around;
  margin-bottom: 10px;
}
.headerBottom .work {
  align-items: center;
}
.headerBottom .work .work-text h3 {
  color: rgb(71, 68, 81);
  margin: 0px;
  font-size: 15px;
  font-weight: 100;
}
.headerBottom .button {
  display: flex;
  justify-content: center;
  border: none;
  border-radius: 5px;
  background-color: rgb(246, 185, 131);
  width: 150px;
  align-items: center;
  font-size: 20px;
}
.headerBottom .button:hover {
  background-color: rgb(197, 100, 15);
  color: rgb(243, 236, 236);
}

.headerContact {
  display: flex;
  justify-content: space-around;
  margin-bottom: 15px;
  border-bottom: 2px solid gray;
}
.headerContact .tel {
  font-size: 25px;
  font-weight: 550;
  color: rgb(246, 146, 47);
}
.headerContact .messengers {
  display: flex;
}
.headerContact .messengers .whatsapp {
  width: 30px;
  margin-right: 10px;
}
.headerContact .messengers .telegram {
  width: 30px;
}

.calculator {
  display: flex;
  justify-content: center;
  font-size: 20px;
  color: rgb(71, 68, 81);
  margin-bottom: 10px;
}

.input {
  display: flex;
  justify-content: end;
  align-items: center;
  margin-bottom: 20px;
  margin-right: 0px;
}
.input .width {
  display: block;
  margin-right: 5px;
  width: 120px;
  height: 30px;
  margin-bottom: -20px;
  color: minitext-color;
  font-size: 20px;
}
.input .windowsill {
  display: flex;
  flex-direction: column;
  justify-content: end;
  margin-right: 0px;
}
.input .windowsill .length {
  display: flex;
  justify-content: end;
  margin-bottom: 5px;
  margin-left: 60px;
  width: 120px;
  height: 30px;
  color: minitext-color;
  font-size: 20px;
}
.input .windowsill .border {
  display: flex;
  justify-content: end;
  position: relative;
  width: 180px;
  height: 80px;
  border: 2px solid black;
  color: rgb(71, 68, 81);
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
}
.input .windowsill .border img {
  width: 100%;
}
.input .windowsill .count {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 5px;
}
.input .windowsill .count p {
  height: 30px;
  color: rgb(71, 68, 81);
  font-size: 20px;
  font-weight: 100;
}
.input .windowsill .count .count-info {
  width: 120px;
  height: 30px;
  color: minitext-color;
  font-size: 20px;
}
.input .windowsill .border-top {
  position: absolute;
  top: 15%;
  left: 10%;
}
.input .windowsill .border-top #thickness {
  height: 30px;
  width: 50px;
  font-size: 20px;
}
.input .windowsill .border-top option {
  font-size: 20px;
}

.calculator-button {
  display: flex;
  flex-direction: column;
  gap: 1px;
}
.calculator-button button {
  width: 100%;
  height: 30px;
}
.calculator-button .calculator-button-classic {
  background-color: rgb(246, 185, 131);
  font-size: 20px;
  color: minitext-color;
  margin-top: 10px;
}
.calculator-button .calculator-button-classic:hover {
  background-color: rgb(197, 100, 15);
  color: rgb(243, 236, 236);
}
.calculator-button .calculator-button-classic:hover div {
  font-size: 20px;
  color: minitext-color;
}
.calculator-button .basket {
  background-color: rgb(110, 193, 245);
  font-size: 20px;
  color: minitext-color;
  height: 60px;
  margin-top: 30px;
}
.calculator-button .basket:hover {
  background-color: rgb(5, 69, 108);
  color: rgb(243, 236, 236);
}
.calculator-button .basket div {
  color: minitext-color;
}

.confirmStone {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid gray;
}

.choice {
  font-size: 20px;
  margin: 0;
}

.stoneName {
  font-size: 30px;
  margin: 0;
}

.grid-2 {
  display: grid;
  gap: 0px;
  height: 100vh;
  margin: 0 auto; /* Центрирование контейнера */
  max-width: 100%;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 50px repeat(5, 1fr);
  grid-template-areas: "header header" "div1 div2" "div3 div4" "div5 div6" "button button";
}

.grid-header {
  grid-area: header;
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #717790;
  color: #fff;
}

.grid-element {
  display: flex;
  flex-direction: column-reverse;
  width: 100%;
  height: 100%;
  padding: 10px;
  cursor: pointer;
  border: #55d88d;
}

.button-image {
  width: 100%; /* Занимает всю ширину контейнера */
  height: auto; /* Высота автоматически подстраивается */
  -o-object-fit: cover;
     object-fit: cover; /* Изображение масштабируется, сохраняя пропорции, обрезая края при необходимости */
}

.confirmColorButton {
  grid-area: button;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(246, 185, 131);
  font-weight: 400;
  color: rgb(71, 68, 81);
  height: 50px;
  width: 200px;
  border: 2px solid rgb(71, 68, 81);
  animation: pulse 1.5s infinite;
  position: fixed;
  bottom: 20px;
  width: 100wh;
  z-index: 1000;
}
.confirmColorButton:hover {
  animation: none; /* Останавливаем анимацию при наведении */
  background-color: rgb(197, 100, 15); /* Цвет при наведении */
}

@keyframes pulse {
  0%, 100% {
    background-color: #28a745; /* Исходный цвет кнопки */
    transform: scale(1); /* Исходный размер кнопки */
  }
  50% {
    background-color: #55d88d; /* Цвет при пульсации */
    transform: scale(1.05); /* Увеличение размера кнопки */
  }
}
* {
  box-sizing: border-box;
}

html {
  margin: 15px;
  background-color: rgb(243, 236, 236);
}

.body {
  margin: 0 auto; /* Центрирование контейнера */
  max-width: 100%; /* Ограничить ширину контейнера */
}/*# sourceMappingURL=styles.css.map */